<div class="modal-dialog" style="width:auto;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
			<h4 class="modal-title">Tier One Carbon Stocks</h4>
		</div>
		<div class="modal-body">
			<center>
			<div id="t1StocksPanel" class="table-responsive">
				<table id="t1stocksTable" class="table table-striped table-condensed">
					<tr>
						<th colspan="2" class="danger">Parcel Descriptors</th>
						<th colspan="5" class="warning">Carbon Density</th>
						<th colspan="6" class="success">Carbon Stocks</th>
					</tr>
					<tr>
						<td colspan="2" class="danger">Values below in ha</td>
						<td colspan="5" class="warning">Values below in tC/ha</td>
						<td colspan="6" class="success">Values below in tC</td>
					</tr>

					<tr>
						<th>ID</th>
						<th>Area</th>
						<th>AGB</th>
						<th>BGB</th>
						<th>SOC</th>
						<th>Litter</th>
						<th>Deadwood</th>
						<th>AGB</th>
						<th>BGB</th>
						<th>Soil</th>
						<th>Litter</th>
						<th>Deadwood</th>
						<th>Total</th>
					</tr>

					<!-- Data gets filled in with javascript -->
					<tr>
						<td id="t1_name"></td>
						<td id="t1_area"></td>
						<td id="t1_agb"></td>
						<td id="t1_bgb"></td>
						<td id="t1_soc"></td>
						<td id="t1_litter"></td>
						<td id="t1_deadwood"></td>
						<td id="t1_agb_tc"></td>
						<td id="t1_bgb_tc"></td>
						<td id="t1_soc_tc"></td>
						<td id="t1_litter_tc"></td>
						<td id="t1_deadwood_tc"></td>
						<td id="t1_total_tc"></td>
					</tr>
				</table>
			</div>
			</center>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
		</div>
	</div>
</div>