{% extends "stage_project.html" %}
{% load core_tags %}

{% block selectmodulejs %}
    <script type="text/javascript">
        $("#measuring-pill").addClass("active");
        $("#measuring-pill a").prop("href", "#");
    </script>
{% endblock selectmodulejs %}

{% block navtabs %}
    <li id="parcel-management-tab" class="active"><a href= "{% url 'parcel-management' request.session.project_id %}"><span class="glyphicon glyphicon-tree-deciduous"></span> 
    	Parcel Management</a></li>
    <li id="inventory-planning-tab"><a href="{% url 'inventory-planning' request.session.project_id %}"><span class="glyphicon glyphicon-th-list"></span> 
    	Inventory Planning</a></li>
    <li id="data-management-tab"><a href= "{% url 'data-management' request.session.project_id %}"><span class="glyphicon glyphicon-folder-open"></span> 
    	Data Management</a></li>
    <li id="carbon-calculations-tab"><a href="{% url 'carbon-calculations' request.session.project_id %}"><span class="glyphicon glyphicon-globe"></span> 
    	Carbon Calculations</a></li>
{% endblock navtabs %}

{% block breadcrumbs %}
    <li><a href="/../measuring/parcel_management/{{ request.session.project_id }}">Measuring</a></li>
    <li class="active">Image Management</li>
{% endblock breadcrumbs %}

{% block page_title %}Image Management{% endblock page_title %}

{% block page_content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Plot Images</h4>
        </div>

        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <th class="col-sm-6">Name</th>
                    <th class="col-sm-1">View</th>
                    <th class="col-sm-1">Delete</th>
                </thead>
                    {% for image in images %}
                        <tr>
                            <td class="col-sm-6">{{ image.name }}</td>
                            <td class="col-sm-1">
                                <button type="button" class="btn btn-primary imageView"
                                         data-image-id="{{ image.id }}" data-image-name="{{ image.name }}" 
                                         data-image-path="{{ image.image }}" data-toggle="modal" 
                                         data-target="#ImageViewModal">View</button>
                            </td>
                            <td class="col-sm-1">
                                <a href="{% url "delete-image" pk=project.id ppk=plot.id pppk=image.id %}" class="btn btn-danger">Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
            </table>
        </div>
        <div class="panel-footer">
            <div class="row">
                <div class="col-sm-12">
                    <a href="{% url "add-image" pk=request.session.project_id ppk=plot.id %}" class="btn btn-primary btn-sm pull-right">Add Image</a>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ImageViewModal" tabindex="-1" role="dialog" 
        aria-labelledby="imagetitle" aria-hidden="true" >
        <div class="modal-dialog" style="width:auto;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="imagetitle"></h4>
                </div>
                <div class="modal-body">
                    <div id="image"></div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block page_bottomscripts %}
    <script type="text/javascript">
        $(document).ready(function(){
            var imageId = 0
            var url = ''
            var title = ''
            $('.imageView').on('click', function(event){
                console.log('in here')
                imageId = Number($(this).attr('data-image-id'));
                url = $(this).attr('data-image-path');
                title = $(this).attr('data-image-name');
            })

            $('#ImageViewModal').on('show.bs.modal', function(event){
                $('#imagetitle').text(title);
                $('#image').html('<center><img src="/measuring/image_management/' + url + '" /></center>');
            });

            $('#ImageViewModal').on('hide.bs.modal', function(event){
                $('#imagetitle').text('')
                $('#image').empty();
            });
        })
        

    </script>
{% endblock %}