{% extends "stage_project.html" %}
{% load core_tags %}

{% block selectmodulejs %}
    <script type="text/javascript">
        $("#measuring-pill").addClass("active");
        $("#measuring-pill a").prop("href", "#");
    </script>
{% endblock selectmodulejs %}

{% block page_scripts %}
    <script type="text/javascript">
            $('#reportedAreaDirections').hide();
            $('#parcelInformation').hide();
            $('#parcelreportedareawarning').hide();
    </script>
{% endblock page_scripts %}


{% block navtabs %}
    <li id="parcel-management-tab" class="active"><a href= "#"><span class="glyphicon glyphicon-tree-deciduous"></span> 
    	Parcel Management</a></li>
    <li id="inventory-planning-tab"><a href="{% url 'inventory-planning' project.id %}"><span class="glyphicon glyphicon-th-list"></span> 
    	Inventory Planning</a></li>
    <li id="data-management-tab"><a href="{% url 'data-management' project.id %}"><span class="glyphicon glyphicon-folder-open"></span> 
    	Data Management</a></li>
    <li id="carbon-calculations-tab"><a href="{% url 'carbon-calculations' request.session.project_id %}"><span class="glyphicon glyphicon-globe"></span> 
    	Carbon Calculations</a></li>
{% endblock navtabs %}


{% block other_message %}
    <div id="ajaxMessages"></div>
{% endblock %}

{% block breadcrumbs %}
    <li><a href="/../measuring/parcel_management/{{ request.session.project_id }}">Measuring</a></li>
    <li class="active">Parcel Management</li>
{% endblock breadcrumbs %}

{% block page_title %}Parcel Management{% endblock page_title %}

{% block page_content %}
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4 class="panel-title">Parcel Data for Project: {{ project.name }}</h4>
        </div>
            <table class="table table-hover">
                <tr>
                    <td class="col-sm-3">
                        <label id="projectInformation" class="control-label pull-right" style="margin-top:.5em;">Project Information: </label>
                    </td>
                    <td class="col-sm-9">
                        <form action="." method="post" id="reported_area_form" class="form-horizontal"> {% csrf_token %}
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <label style="font-weight:normal; margin-top:.5em;">Mapped Area:</label>
                                </div>
                                <div class="col-sm-3">
                                    <div id="mappedArea" style="margin-top:.5em;">{{ areaMapped }} ha</div>
                                </div>
                                <div class="col-sm-3">
                                    <label style="font-weight:normal; margin-top:.5em;">Reported Area (ha):</label>
                                </div>
                                <div class="col-sm-3">
                                        <input name="reported_area_project" id="reported_area_project" value="{{ project.reported_area }}" type="text" class="form-control" /> 
                                </div>
                            </div>
                        
                            <div id="reportedAreaDirections" class="form-group" style="display: none;">
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3"><label class="control-label pull-right">Parcel Information: </label></td>
                    <td class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-9">
                                <select id="parcelDropdown" class="form-control">
                                    <option value="" id="parcelDropDown" selected="selected">Select a parcel</option>
                                    {% for parcel in parcels %}
                                        <option value="{{ parcel.id }}">{{ parcel.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-sm-3">
                                <button type="button" id="addParcelButton"class="btn btn-primary btn-sm" data-target="#addParcel" data-toggle="modal">Add Parcel</button>
                            </div>
                        </div>
                        <form id="parcelReportedForm" action="." method="POST" class="form-horizontal">
                            {% csrf_token %}
                            <div id="parcelInformation" class="form-group" style="display: none;">
                                    
                            </div>
                            <div id="parcelReportedAreaWarn" class="form-group" style="display: none;">
                            </div>
                        </form>
                    </td>
                </tr>

                <tr>
                    <td class="col-sm-3">
                        <label class="control-label pull-right">
                            Plot Information: 
                        </label>
                    </td>
                    <td class="col-sm-9">
                        <div id="plotInformation" class="row">
                        </div>
                        <form id="plotInfoForm" action="." method="POST" class="form-horizontal">
                            {% csrf_token %}
                            <div id="plotData" class="form-group" style="display: none;">
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label style="font-weight:normal; margin-top:.5em;">Shape:</label>
                                    </div>
                                    <div class="col-sm-5">
                                        <label class="radio-inline">
                                            <input type="radio" id="rectangleShapeEdit" name="shapeEdit" value="rectangle">
                                                Rectangle
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" id="circleShapeEdit" name="shapeEdit" value="circle">
                                                Circle
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label id="editDimensionsLabel" style="font-weight:normal; margin-top:.5em;">
                                            Dimensions:
                                        </label>
                                    </div>
                                    <div id="editDimensionsGroup" class="col-sm-6">
                                        <input id="editRadius" name="radiusEdit" type="text" class="form-control" value="0" />
                                        <div id="editRectDim">
                                            <div class="col-sm-5" style="padding-left:0px;">
                                                <input id="edit_xdimension" name="xDimEdit" type="text" class="form-control" value="0" />
                                            </div>
                                            <div class="col-sm-1" style="margin-top:.5em;padding-left:0px;padding-right:0px;">
                                                <b>x</b>
                                            </div>
                                            <div class="col-sm-5" style="padding-left:0px;">
                                                <input id="edit_ydimension" name="yDimEdit" type="text" step='Any' class="form-control" value="0" />
                                            </div>
                                        </div>
                                    </div>
<!--                                     <div class="col-sm-3">
                                        <button type="button" id="parcelReportedFormCancel" class="btn btn-primary btn-sm">Cancel</button>
                                        <input type="submit" value="Submit" class="btn btn-danger btn-sm"  />
                                    </div> -->
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-3">
                                        <label id="RootShootLabel" style="font-weight:normal; margin-top:.5em;">
                                            Root/Shoot:
                                        </label>
                                    </div>
                                    <div id="editRootShootDiv" class="col-sm-6">
                                        <input id="editRootShoot" name="root_shoot_ratio" class="form-control" type="text" />
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="submit" value="Submit" class="btn btn-danger btn-sm" />
                                    </div>
                                </div>
                            </div>
                        </form>


                    </td>
                </tr>
                <tr id="plotImageViewer" style="display:none;">
                    <td class="col-sm-3"><label class="control-label pull-right">Plot Images: </td>
                    <td class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-9" id="plotImageLink"> 
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3"><label class="control-label pull-right">Manage Parcels/Plots: </label></td>
                    <td class="col-sm-9">
                        <div class="row">
                            <div class="col-sm-3 col-sm-offset-9">
                                <a href="{% url "manage-parcels-plots" request.session.project_id %}" class="btn btn-primary btn-sm">Click Here</a>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3"><label class="control-label pull-right">Tier One: </label></td>
                    <td class="col-sm-9">
                        <div id="tierOneRow" class="row">
                            <div class="col-sm-9">
                                <div><em>You must select a parcel before you can submit tier one data.</em></div>
                            </div>
<!--                             <div class="col-sm-3 col-sm-offset-9" style="Display: None;">
                                <button type="button" data-target="#t1Modal" data-toggle="modal" class="btn btn-primary btn-sm disabled">Add</button>
                            </div> -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="col-sm-3"><label class="control-label pull-right">Tier Two: </label></td>
                    <td class="col-sm-9">
                        <div id="tierTwoRow" class="row">
                            <div class="col-sm-9">
                                <div><em>You must select a parcel before you can submit tier two data.</em></div>
                            </div>
<!--                             <div class="col-sm-3 col-sm-offset-9" style="Display: None;">
                                <button type="button" data-target="#t2Modal" data-toggle="modal" class="btn btn-primary btn-sm disabled">Add</button>
                            </div> -->
                        </div>
                    </td>
                </tr>
            </table>
    </div>

    <!--
    ///////////////////////////////////////////////////////////////////
    //
    //              Tier 1 Modal
    //          Purpose: This modal will appear when the user clicks on the tier 1
    //                    button. It will allow users to enter in values to be 
    //                    used in tier 1 calculations
    //        
-->
<div class="modal fade" id="t1Modal" tabindex="-1" role="dialog" aria-labelledby="Tier 1" aria-hidden="true">
    <div class="modal-dialog">
        <form action="." method="post" id="t1form" class="form-horizontal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="t1ModalLabel">Tier 1 Values</h4>
                </div>
                      
		        <div class="modal-body">
		            <div class="form-group">
		                <div class="col-lg-6" style="font-weight:bold; text-align:right;">
		                <label class="control-label" id="t1_agb_label">Above Ground Biomass (tC/ha):</label></div>

		                <div class="col-lg-4"><input type="text" id="t1_agb" class="form-control input-sm" /></div>
		            </div>
		            <div class="form-group">
		                <div class="col-lg-6" style="font-weight:bold; text-align:right;">
		                <label class="control-label" id="t1_bgb_label">Below Ground Biomass (tC/ha):</label></div>

		                <div class="col-lg-4"><input type="text" id="t1_bgb" class="form-control input-sm" /></div>
		            </div>
		            <div class="form-group">
		                <div class="col-lg-6" style="font-weight:bold; text-align:right;">
		                <label class="control-label" id="t1_soc_label">Soil (tC/ha):</label></div>

		                <div class="col-lg-4"><input type="text" id="t1_soc" class="form-control input-sm" /></div>
		            </div>
		            <div class="form-group">
		                <div class="col-lg-6" style="font-weight:bold; text-align:right;">
		                <label id="t1_deadwood_label" class="control-label">Dead Wood (tC/ha):</label></div>

		                <div class="col-lg-4"><input type="text" id="t1_deadwood" class="form-control input-sm" /></div>
		            </div>
		            <div class="form-group">
		                <div class="col-lg-6" style="font-weight:bold; text-align:right;">
		                <label id="t1_litter_label" class="control-label">Litter (tC/ha):</asp:label></div>

		                <div class="col-lg-4"><input type="text" id="t1_litter" class="form-control input-sm" /></div>
		            </div>
		        </div>                         
                <div class="modal-footer">
                    <asp:Button class="btn btn-danger btn-sm" class="close" data-dismiss="modal" aria-hidden="true">Close</asp:Button>
                    <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                </div>
            </div>
        </form>

    </div>

</div>

<!--
    ///////////////////////////////////////////////////////////////////
    //
    //              Tier 2 Modal
    //          Purpose: This modal will appear when the user clicks on the tier 2
    //                    button. It will allow users to enter in values to be 
    //                    used in tier 2 calculations
    //        
-->
<div class="modal fade" id="t2Modal" tabindex="-1" role="dialog" aria-labelledby="Tier 1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="." method="post" id="t2form" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="t2ModalLabel">Tier 2 Values</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-lg-6" style="font-weight:bold; text-align:right;">
                        <label class="control-label" id="t2_agb_label">Above Ground Biomass (tC/ha):</label></div>

                        <div class="col-lg-4"><input type="text" id="t2_agb" class="form-control input-sm" /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6" style="font-weight:bold; text-align:right;">
                        <label ID="t2_bgb_label" class="control-label">Below Ground Biomass (tC/ha):</label></div>

                        <div class="col-lg-4"><input type="text" id="t2_bgb" class="form-control input-sm" /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6" style="font-weight:bold; text-align:right;">
                        <label id="t2_soc_label" class="control-label">Soil (tC/ha):</label></div>

                        <div class="col-lg-4"><input type="text" id="t2_soc" class="form-control input-sm" /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6" style="font-weight:bold; text-align:right;">
                        <label id="t2_deadwood_label" class="control-label">Deadwood (tC/ha):</label></div>

                        <div class="col-lg-4"><input type="text" id="t2_deadwood" class="form-control input-sm" /></div>
                    </div>
                    <div class="form-group">
                        <div class="col-lg-6" style="font-weight:bold; text-align:right;">
                        <label id="t2_litter_label" class="control-label">Litter (tC/ha):</label></div>

                        <div class="col-lg-4"><input type="text" id="t2_litter" class="form-control input-sm" /></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <asp:Button class="btn btn-danger btn-sm" class="close" data-dismiss="modal" aria-hidden="true">Close</asp:Button>
                    <input type="submit" value="Save" class="btn btn-primary btn-sm" />
                </div>
            </form>
        </div>
    </div>
</div>

<!-- 
    TITLE: Add Parcel
    PURPOSE: Add a parcel to the current project
    Loads as a modal
-->
{% block addParcelModal %}
<div class="modal fade" id="addParcel" tabindex="-1" role="dialog" aria-labelledby="addParcel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="." method="POST" id="addParcelForm" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Add Parcel</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label pull-right">Project Name: </label>
                        </div>
                        <div class="col-sm-7">
                            <div style="margin-top:.5em;">{{ project.name }}</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label pull-right">Name: </label>
                        </div>
                        <div class="col-sm-6">
                            <input id="addParcelName" name="parcel_name" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-3">
                            <label class="control-label pull-right">Area (ha): </label>
                        </div>
                        <div class="col-sm-6">
                            <input id="addParcelArea" name="parcel_area" type="text" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" id="addParcelCancelButton" data-dismiss="modal" class="btn btn-default btn-sm">Cancel</button>
                    <input type="submit" id="addParcelSubmitButton" class="btn btn-primary btn-sm" value="Submit" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}

<!-- 

    Add Plot Modal

 -->

 <div class="modal fade" id="addPlot" tabindex="-1" role="dialog" aria-labelledby="addPlot" aria-hidden="true"> 
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="." method="POST" id="addPlotForm" class="form-horizontal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Create Plot</h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!--<div class="col-sm-4">
                            <label class="control-label pull-right">Parcel: </label>
                        </div>
                        <div class="col-sm-7">
                            <div id="selectedParcel" style="margin-top:.5em;"></div>
                        </div>-->
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label pull-right">Plot Name: </label>
                        </div>
                        <div class="col-sm-6">
                            <input id="addPlotName" name="plotname" type="text" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label class="control-label pull-right">Plot Shape: </label>
                        </div>
                        <div class="col-sm-6">
                                <label class="radio-inline">
                                    <input type="radio" id="rectangleShape" name="shape" value="rectangle" checked /> Rectangle
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" id="circleShape" name="shape" value="circle" /> Circle
                                </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label id="dimensionsLabel" class="control-label pull-right">Dimensions (m^2): </label>
                        </div>

                        <div class="col-sm-6">
                            <div id="dimensionsGroup">
                                <div class="col-sm-5" style="padding-left:0px;">
                                    <input id="xdimension" type="text" class="form-control" value="0"/>
                                </div>
                                <div class="col-sm-1" style="margin-top:.5em; padding-left:0px;padding-right:0px;"><b>x</b></div> 
                                <div class="col-sm-5" style="padding-left:0px;"> 
                                    <input id="ydimension" type="text" class="form-control" value="0" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">   
                        <div class="col-sm-4">
                            <label class="control-label pull-right">
                            Area (ha): 
                        </div>
                        <div class="col-sm-6">
                            <div id="plotReportedArea" style="margin-top:.5em;">0.0000</div>
                        </div>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" id="addPlotCancel" data-dismiss="modal" class="btn btn-default btn-sm">Cancel</button>
                    <input type="submit" id="addPlotSubmitButton" class="btn btn-primary btn-sm" value="Submit" />
                </div>
            </form>
        </div>
    </div>
 </div>

<div class="modal fade" id="plotDetailsModal" tabindex="-1" role="dialog" aria-labelledby="plotDetailsModal" aria-hidden="true">
    {% include "measuring/plotDetails.html" %}
</div>

<div class="overlay"><div class="spinner spinner--steps icon-spinner" aria-hidden="true"></div></div>
{% endblock page_content %}

{% block page_bottomscripts %}

{% load staticfiles %}
<!--<script src="{% static "measuring/parcelManage.js" %}" type="text/javascript"></script>-->
<script src="{% static "js/measuring/parcelManage.js" %}" type="text/javascript"></script>

<script type="text/javascript">
    variablePassIn('{{ project.id }}');

    function calculateRectangle( x, y ) {
        if( !isNaN(x) && !isNaN(y)){
            $('#plotReportedArea').text( x * y / 10000);
        }
        else
            $('#plotReportedArea').text('0.0000');
    }
    $(document).ready(function(){
        $('#addPlot').on('shown.bs.modal', function(event){
            console.log('shown event');
            $('#xdimension').on('change',function(event){
                calculateRectangle(parseFloat($(this).val()), parseFloat($('#ydimension').val()));
            })
            $('#ydimension').on('change',function(event){
                calculateRectangle(parseFloat($('#xdimension').val()), parseFloat($(this).val()));
            })
            $('input[name=shape]:radio').change(function(event){
                console.log('inside radio change');
                if($('#circleShape').is(':checked'))
                {
                    console.log('here');
                    $('#dimensionsLabel').text('Radius (m): ');
                    $('#dimensionsGroup').empty();
                    $('#dimensionsGroup').html('<input id="radius" type="number" class="form-control" value="0" />')

                    $('#radius').on('change', function(event){
                        var r = parseFloat($(this).val());
                        $('#plotReportedArea').text(( r * r * 3.141592 / 10000).toFixed(4));
                    })
                    $('#radius').trigger('change');
                }
                else
                {
                    $('#dimensionsLabel').text('Dimensions (m^2): ');
                    $('#dimensionsGroup').empty();
                    $('#dimensionsGroup').html('<div class="col-sm-5" style="padding-left:0px;"><input id="xdimension" type="number" class="form-control" value="0" /></div><div class="col-sm-1" style="margin-top:.5em;padding-left:0px;padding-right:0px;"><b>x</b></div><div class="col-sm-5" style="padding-left:0px;"><input id="ydimension" type="number" class="form-control" value="0" /></div>');

                    $('#xdimension').on('change',function(event){
                        calculateRectangle(parseFloat($(this).val()), parseFloat($('#ydimension').val()));
                    })
                    $('#ydimension').on('change',function(event){
                        calculateRectangle(parseFloat($('#xdimension').val()).toFixed(4), parseFloat($(this).val()).toFixed(4));
                    })
                }
            })
        })
        $('#addPlot').on('hidden.bs.modal', function(event){
            $('#addPlotForm')[0].reset();
            $('#dimensionsLabel').text('Dimensions (m^2): ');
            $('#dimensionsGroup').empty();
            $('#dimensionsGroup').html('<div class="col-sm-5" style="padding-left:0px;"><input id="xdimension" type="number" class="form-control" value="0" /></div><div class="col-sm-1" style="margin-top:.5em;padding-left:0px;padding-right:0px;"><b>x</b></div><div class="col-sm-5" style="padding-left:0px;"><input id="ydimension" type="number" class="form-control" value="0" /></div>');
        })

    })
    
</script>
{% endblock %}
