{% extends "arcgis_map.html" %}
{% load core_tags %}

{% block page_container %}
    <div class="container-fluid">
      <div class="row">
          <div class="col-sm-3 col-md-2 sidebar">
              <ul class="nav nav-pills nav-stacked nav-sidebar">
              <li id="project-info-pill">
                <a href="/core/review_project/{{ request.session.project_id }}">
                <span class="glyphicon glyphicon-list-alt"></span>
                  Project Information
                </a>
              </li>
              <li id="project-social-benefits-pill" class="disabled">
                <a href="#">
                  <span class="glyphicon glyphicon-list-alt"></span>
                  Social Benefits
                </a>
              </li>
              <li id="project-docs-pill">
                <a href="{% url "project-documents" request.session.project_id %}">
                  <span class="glyphicon glyphicon-folder-close"></span>
                   Project Documents
                </a>
              </li>
              <li id="sampling-design-pill">
                <a href="{% url "sampling-design-tool" %}">
                  <span class="glyphicon glyphicon-map-marker"></span>
                   Sampling Design
                </a>
              </li>
              <li id="mapping-pill" class="active">
                <a href="{% url "mapping-index" request.session.project_id %}">
                  <span class="glyphicon glyphicon-globe"></span>
                   Mapping
                </a>
              </li>
              <li id="measuring-pill">
                <a href="{% url "parcel-management" request.session.project_id %}">
                  <span class="glyphicon glyphicon-tree-conifer"></span>
                   Measuring
                </a>
              </li>
              <li id ="ecalc-pill">
                <a href="{% url "ecalc-projects" %}">
                  <span class="glyphicon glyphicon-cloud-download"></span>
                   Emissions Calculator
                </a>
              </li>
              <!-- <li id="leakage-calculator-pill"><a href="{% url "leakage-estimation-tool" %}"><span class="glyphicon glyphicon-fire"></span> Leakage Calculator</a></li> -->
              <!-- <li class="disabled"><a href="#"><span class="glyphicon glyphicon-certificate"></span> Social &amp; Environmental</a></li> -->
              <li id="project-reporting-pill">
                <a href="{% url 'reporting' request.session.project_id %}">
                  <span class="glyphicon glyphicon-file"></span>
                   Reporting
                </a>
              </li>
              
              <li id="project-settings-pill">
                <a href="{% url "project-settings" request.session.project_id %}">
                  <span class="glyphicon glyphicon-cog"></span>
                   Project Settings
                </a>
              </li>
              <!--<li class="disabled"><a href="#"><span class="glyphicon glyphicon-user"></span> User access</a></li>-->
            </ul>
          </div>
          <div class="col-sm-9 col-md-10 col-sm-offset-3 col-md-offset-2 main">
              <div class="row content-background">
                  <div class="col-sm-12 col-md-12 ">
                      <ol id="mrvcrumbs" class="breadcrumb breadcrumb_arc">
                          <li><a href="{% settings_value 'ROOT_BREADCRUMB_URL' %}">Forest-PLUS Program DMS</a></li>
                          {% block allbreadcrumbs %}
                  <!--           <li><a href="/toolbox/projects/reviewNewProject.aspx?project={{ request.session.project.id }}">{{ request.session.project.name }}</a></li> -->
                            <!-- <li><a href="/core/review_project/{{ request.session.project_id }}/">{{ request.session.project.name }}</a></li> -->
                            {% block section_breadcrumb %}{% endblock section_breadcrumb %}
                            {% block breadcrumbs %}{% endblock breadcrumbs %}      
                          {% endblock allbreadcrumbs %}
                      </ol>
                  </div>
              </div>
              <div class="row content-background">
                  <div class="col-sm-12 col-md-12">
                      <ul class="nav nav-tabs">
                          <li class="active"><a href="#">Mapping</a></li>
                      </ul>
                      <div class="map_content">
                          {% block mapping_content %}
                            Mapping goes here
                          {% endblock %}
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
{% endblock %}

{% block page_bottomscripts %}

{% endblock %}

{% block footer %}

{% endblock footer %}

